<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/projects.css' />


    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- hideseek -->
    <script src='/js/lib/jquery.hideseek.min.js'></script>
    <script src='/js/projects.js'></script>

  </head>
  <body>
    <%- include partials/nav.ejs %>
    <div class="container">
      <div class="input-container">
        <input
          autocomplete="off"
          data-list=".default-list"
          id="search"
          placeholder="Search for project"
          type="text"
        >
        </input>
      </div>
      <div class="projects default-list">
        <% for(var i=0; i<projects.length; i++) { %>
          <a href="projects/<%= projects[i].project.id %>/models">
            <div class="project">
              <div class="project-name"><%= projects[i].project.name %></div>
              <div class="project-author"><%= projects[i].project.author %></div>
              <div class="project-desc"><%= projects[i].project.description %></div>
            </div>
          </a>
        <% } %>
      </div>
    </div>
  </body>
</html>
